{% extends "base.html" %}
{% load static %}
{% block content %}


<section id="create-student" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row gx-lg-0 gy-4 d-flex justify-content-center">
            <div class="col-lg-5">
                
                <form method="post"  class="php-email-form">
                    <h2 class="section-header">Change Password</h2>
                    {% csrf_token %}
                    {% include "messages.html" %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="name" name="old_password" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="department" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="department" name="new_password">
                    </div>

                    <div class="mb-3">
                        <label for="department" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="department" name="confirm_password">
                    </div>
                    
                    <center><button type="submit" class="btn btn-primary">Change Password</button></center>
                   
                </form>
            </div>
        </div>
    </div>
</section>




{% endblock content %}