{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="section-header mt-4">
        <h2>Select Your Semester</h2>
    </div>
    
    <div class="section-header m-0">
        <!-- Button for Semester 1 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 1 %}'">Semester 1</button>
        
        <!-- Button for Semester 2 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 2 %}'">Semester 2</button>
        
        <!-- Button for Semester 3 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 3 %}'">Semester 3</button>
        
        <!-- Button for Semester 4 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 4 %}'">Semester 4</button>
        
        <!-- Button for Semester 5 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 5 %}'">Semester 5</button>
        
        <!-- Button for Semester 6 -->
        <button id="get-started" style="background:#008374;" onclick="location.href='{% url 'semester_view' 6 %}'">Semester 6</button>
    </div>

    
{% endblock content %}

